<!DOCTYPE html>
   <html>
     <head>
       <title>XX :: <%= title %> :: </title>
     </head>
     <body>
     	<img src="/public/img/nodeJS.png" alt="Logo"> <br />
       <h1><%= title %></h1>
     </body>
</html>