 <section data-ng-controller="ArticlesController" data-ng- init="findOne()">
     <h1 data-ng-bind="articles.title"></h1>
     <div data-ng-show="authentication.user._id == articles.creator._id"> 
         <a href="/#!/articles/{{articles._id}}/edit">edit</a>
         <a href="#" data-ng-click="delete();">delete</a>
     </div>
     <small>
         <em>Posted on</em>
         <em data-ng-bind="articles.created | date:'mediumDate'"></em> 
         <em>by</em>
         <em data-ng-bind="articles.creator.fullName"></em>
     </small>
     <p data-ng-bind="articles.content"></p> 
 </section>